.App {
  text-align: center;
  width: 100vw;
  overflow: hidden;
}
.heading {
  font-size: 34px;
  color: rgb(10, 40, 78);
  letter-spacing: 1px;
  margin-bottom: 150px;
}
.heading::after {
  text-align: center;
  content: "";
  display: block;
  height: 7px;
  width: 80px;
  background-color: pink;
  margin: 5px auto;
}
